<div class="k footer">
  <div class="e">
    <div class="c">
      <div class="fu ag">
        <ul class="fh sv">
          <li><h6 class="eu">documentation</h6></li>
          <li><a href="/www/install" class="no_link_color_footer">install</a></li>
          <li><a href="/www/tutorial" class="no_link_color_footer">tutorials</a></li>
          <li><a href="/www/example" class="no_link_color_footer">examples</a></li>
          <li><a href="/www/case" class="no_link_color_footer">cases</a></li>
          <li><a href="/www/api" class="no_link_color_footer">api & docs</a></li>
        </ul>
      </div>
      <div class="fu ag">
        <ul class="fh sv">
          <li><h6 class="eu">partners</h6></li>
          <li><a href="http://www.inria.fr" target="_blank" class="no_link_color_footer">Inria</a></li>
          <li><a href="http://fed4fire.eu" target="_blank" class="no_link_color_footer">Fed4Fire</a></li>
          <li><a href="http://r2lab.inria.fr" target="_blank" class="no_link_color_footer">FIT</a></li>
          <li><a href="https://portal.onelab.eu" target="_blank" class="no_link_color_footer">OneLab</a></li>
        </ul>
      </div>
      <div class="fu ag">
        <ul class="fh sv">
          <li><h6 class="eu">support</h6></li>
          <li><a href="/www/contact" class="no_link_color_footer">contact</a></li>
          <li><a href="/www/contact" class="no_link_color_footer">bug reporting</a></li>
        </ul>
      </div>
       <div class="">
        <h6 class="eu">about</h6>
        <p>NEPI is a <a href="http://www.python.org" target="_blank">python-based</a> library to model and run network experiments on a variety of network evaluation platforms.
        It allows automatic experiment deployment and result collection in an graceful interactive experimentation.</p>
      </div>
    </div>
  </div>
</div>
