<div class="k footer">
  <div class="e">
    <div class="c">
      <div class="fu ag">
        <ul class="fh sv">
          <li><h6 class="eu">documentation</h6></li>
          <li>code reference</li>
          <li>manual</li>
          <li>use cases</li>
          <li>tutorials</li>
        </ul>
      </div>
      <div class="fu ag">
        <ul class="fh sv">
          <li><h6 class="eu">partners</h6></li>
          <li>INRIA</li>
          <li>Eurecom</li>
          <li>FIT</li>
          <li>OneLab</li>
        </ul>
      </div>
      <div class="fu ag">
        <ul class="fh sv">
          <li><h6 class="eu">support</h6></li>
          <li>contact</li>
          <li>bug reporting</li>
        </ul>
      </div>
       <div class="">
        <h6 class="eu">about</h6>
        <p>NEPI is a <a href="http://www.python.org" target="_blank">python-based</a> library to model and run network experiments on a variety of network evaluation platforms.
        It allows automatic experiment deployment and result collection in an graceful interactive experimentation.</p>
      </div>
    </div>
  </div>
</div>
