<nav class="dt qf eu">
  <div class="e">
    <a class="l" href="/www/index">
      <h2 class="apd eu x">nepi 6</h2>
    </a>
    <br>
    <div class="pw collapse">
      <ul class="nav navbar-nav pk">
        <li>
          <a href="/www/overview/">overview</a>
        </li>
        <li>
          <a href="/www/install/">install</a>
        </li>
        <!-- <li>
          <a href="/www/tutorial/">tutorials</a>
        </li>
        <li>
          <a href="/www/example/">examples</a>
        </li>
        <li>
          <a href="/www/case/">cases</a>
        </li> -->
        <li>
          <a href="/www/learn/">learn</a>
        </li>
        <li>
          <a href="/www/api/">api & docs</a>
        </li>
        <li>
          <a href="/www/contact/">contact</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
