<nav class="dt qf eu">
  <div class="e">
    <a class="l" href="/www/index">
      <h2 class="apd eu x">nepi 6</h2>
    </a>
    <br>
    <div class="pw collapse">
      <ul class="nav navbar-nav pk">
        <li>
          <a href="/www/overview">overview</a>
        </li>
        <li>
          <a href="/www/get_started">get started</a>
        </li>
        <li>
          <a href="/www/api">docs</a>
        </li>
        <li>
          <a href="/www/download">download</a>
        </li>
        <li>
          <a href="/www/contact">contact</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
