<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>NEPI - Network Experiment Programming Interface</title>
    <!-- Bootstrap PACK -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- FOR THE WEB SITE INITIAL -->
    <link href="/assets/css/layout.css" rel="stylesheet">
    <link href="/assets/css/overrides.css" rel="stylesheet">
  </head>
  <body>
    {% include 'layout/_header.html' %}
    <div id="subheader_face">
      <div class="title">
        a library to model and run network experiments
        <div class="menu_bar">
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 text-center vr-all" id="t_01">
              <a href="/www/install" class="no_link_color"><img src="/assets/img/download.svg" class="icon">
        	    <h3>install</h3></a>
		        </div>
            <div class="col-xs-3 col-sm-3 col-md-3 text-center vr-all" id="t_04">
              <a href="/www/tutorial" class="no_link_color"><img src="/assets/img/education.svg" class="icon">
        	    <h3>tutorials</h3></a>
		        </div>
            <div class="col-xs-3 col-sm-3 col-md-3 text-center vr-all" id="t_03">
              <a href="/www/api" class="no_link_color"><img src="/assets/img/settings.svg" class="icon">
              <h3>api & docs</h3></a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 text-center vr-all" id="t_02">
              <a href="/www/contact" class="no_link_color"><img src="/assets/img/compass-2.svg" class="icon">
        	    <h3>contact</h3></a>
		        </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'layout/_partners.html' %}
    {% include 'layout/_footer.html' %}
  </body>
</html>
